 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2580px;
}

.u-section-1 .u-text-1 {
  margin: 0 -124px;
}

.u-section-1 .u-text-2 {
  margin: 0 -124px;
}

.u-section-1 .u-text-3 {
  margin: 0 -124px;
}

.u-section-1 .u-text-4 {
  margin: 0 -124px;
}

.u-section-1 .u-text-5 {
  margin: 0 -124px;
}

.u-section-1 .u-text-6 {
  margin: 0 -124px 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}